$primeryColor: #fffcf2;
$secondaryColor: #f9f3df;
$textColor: #05074e;
$iconcolor: #730814;
$formBorderColor: $iconcolor solid 1px;
$btnColor: #874912;
@mixin formBorderTable {
  border: $iconcolor solid 1px;
}
@mixin formTitle {
  padding-bottom: 1rem;
  font-family: 'Lato-light';
}
@mixin formError {
  padding-bottom: 1rem;
  color: red;
}
@import '../src/assets/style/header.scss';
@import '../src/assets/style/forms.scss';
@import './assets/style/infinitText.scss';
@import './assets/style/admin.scss';
@import './assets/style/footer.scss';
@import './assets/style/carousel.scss';
@font-face {
  font-family: 'Lato';
  src: url('astrolab-front/src/assets/fonts/Lato-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Lato';
  src: url('astrolab-front/src/assets/fonts/Lato-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('astrolab-front/src/assets/fonts/Roboto-Regular.ttf') format('ttf');
}

* {
  padding: 0;
  margin: 0;
}
html,
body {
  margin: 0 auto;
  background-color: $primeryColor;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
h1,
h2,
h3 {
  font-family: 'Lato', Arial, sans-serif;
  color: $iconcolor;
}
.App {
  width: 100%;
  height: 100%;
  text-align: center;
}
///////// Shop //////////
.Shop__title {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.Card {
  display: flex;
  flex-direction: row;
  @include formBorder();
  margin: 0.5rem;
  text-align: center;
  display: inline-block;
  width: 40%;

  @media (min-width: 768px) {
    width: 90%;
    margin: 1rem;
  }
  @media (min-width: 1200px) {
    width: 90%;
  }
  .Card__title {
    color: $iconcolor;
    font-size: 0.7rem;
    @media (min-width: 768px) {
      font-size: 1.2rem;
    }
  }
  .Card__p {
    color: $textColor;
    font-size: 0.7rem;
  }
  .Card__price {
    font-size: 0.8rem;
    color: $textColor;
    &:hover {
      color: #730814;
    }
  }
  img {
    max-width: 80%;
    height: auto;
    margin: auto;
  }
  h3 {
    font-size: 0.8rem;
  }
  a {
    text-decoration: none;
  }
  p {
    padding: 2vmin;
    font-size: 0.7rem;
  }
  button {
    margin: 2vmin;
    background: $btnColor;
    @include formBorder();
    .icon {
      color: $primeryColor;
    }
  }
  input {
    width: 40%;
    @include formBorder();
    @media (min-width: 768px) {
      width: 30%;
      height: 1.5rem;
    }
    @media (min-width: 1200px) {
      width: 20%;
      height: 1.5rem;
    }
  }
}
////////// Details ////////////
.Product__details {
  h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-family: 'Lato-thin';
    font-weight: 300;
  }
  h2 {
    font-size: 1.2rem;
  }
  .Details {
    margin: 0 auto;
    .Details__section {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      @media (min-width: 768px) {
        width: 90%;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: row;
      }
      .Details__desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        @include formBorder();
        box-shadow: -2px 2px 16px rgb(210, 208, 208);
        @media (min-width: 1200px) {
          margin-bottom: 3rem;
        }
        .Details__table {
          justify-content: space-around;
          margin-top: 2rem;
          margin-bottom: 2rem;
          width: 70%;
          th {
            @include formBorderTable();
            background: $secondaryColor;
            color: $iconcolor;
            padding: 0.5rem;
          }
          td {
            color: $textColor;
            @include formBorderTable();
            padding: 0.7rem;
          }
        }
        p {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
      .Details__table-img {
        margin: 0 auto;
        width: 45%;
        height: auto;
        padding-bottom: 3rem;
        @media (min-width: 768px) {
          height: 100%;
          align-self: center;
        }
      }
      .Details__table-desc {
        text-align: left;
        padding-left: 2vmin;
        color: $textColor;
        line-height: 2;
      }
      .Details__table-price {
        color: $iconcolor;
      }
    }
    .Details__table-history {
      text-align: left;
      margin: 1rem;
      padding: 1rem;
      margin: 0 auto;
      border: none;
      border-radius: 3px;
      background: $secondaryColor;
      color: $iconcolor;
      line-height: 2;
      @media (min-width: 768px) {
        width: 70%;
      }
      @media (min-width: 1200px) {
        width: 50%;
      }
    }
  }
  .Details__input {
    margin: 2rem;
    height: 1.5rem;
    @include formBorder();
  }
  .Details__icon {
    color: $iconcolor;
    width: 2rem;
    height: 2rem;
    background: $primeryColor;
  }
}
.Details__btn {
  color: $primeryColor;
  width: 2rem;
  height: 2rem;
  background: $btnColor;
  @include formBorder();
}
.Details__panier {
  margin-top: 4rem;
  color: $textColor;
}
//////////////////////////   Atelier ///////////
.Page__section {
  margin: 0 auto;
  background: url('./src/assets/logo/atelier-montre.webp');
  width: 100vw;
  height: 16rem;
  background-size: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2vmin;
  margin-right: 3vmin;
  border-radius: 3px;
  @media (min-width: 768px) {
    margin: 0 auto;
    height: 20rem;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  @media (min-width: 1200px) {
    margin: 0 auto;
    height: 30rem;
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
.Page_p {
  margin-left: 2vmin;
  margin-right: 2vmin;
  padding: 1rem;
  background: $secondaryColor;
  text-align: left;
  border-radius: 3px;
  color: $textColor;
  line-height: 1.5rem;
  margin-bottom: 5rem;
  @media (min-width: 768px) {
    margin: 0 auto;
    width: 70%;
    line-height: 2rem;
    margin-bottom: 5rem;
  }
  @media (min-width: 1200px) {
    margin: 0 auto;
    width: 61%;
    line-height: 2.5rem;
    margin-bottom: 10rem;
  }
}
//////////// Payment //////////////////////
.StripeElement,
.StripeElement--complete {
  margin: 0 auto;
  @include formBorderTable();
  border-radius: 3px;
  width: 90%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media (min-width: 768px) {
    width: 70%;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }
  @media (min-width: 1200px) {
    width: 60%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.Stripe__btn {
  @include formBorderTable();
  width: 60%;
  padding: 1rem;
  margin-bottom: 3rem;
  border-radius: 3px;
  color: $primeryColor;
  background: $btnColor;
  @media (min-width: 1200px) {
    width: 30%;
  }
}
/////// panier //////
.Panier {
  padding-bottom: 4rem;
  font-size: 1.3rem;
  color: red;
  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}
/////////// Success ///////////
.Success__p {
  color: $textColor;
  padding-top: 2rem;
  padding-bottom: 4rem;
  @media (min-width: 1200px) {
    font-size: 1.3rem;
  }
}
.Success__back {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .Success__link {
    text-decoration: none;

    &:hover {
      color: $iconcolor;
    }
    @media (min-width: 1200px) {
      font-size: 1.3rem;
    }
  }
  .Success__icon {
    margin-right: 1rem;
    color: $iconcolor;
    font-size: 1.1rem;
    @media (min-width: 1200px) {
      font-size: 1.5rem;
    }
  }
}

////////////////////  HOME //////////////////

//////////Video Home ///////////
.Video {
  margin: 0 auto;
  max-width: 90%;
  height: 40%;
  position: relative;
  top: 18vh;
  margin-bottom: 10rem;
  .Video__film {
    width: 100%;
    object-fit: cover;
  }
  @media (min-width: 1200px) {
    max-width: 60%;
  }
  @media (min-width: 768px) {
    margin-bottom: 10rem;
    max-width: 70%;
  }
}
.Video__content {
  h3 {
    color: $primeryColor;
    @media (min-width: 768px) {
      margin-bottom: 4rem;
    }
    @media (min-width: 1200px) {
      margin-bottom: 6rem;
      font-size: 2rem;
      padding-top: 3rem;
    }
  }
  button {
    margin-bottom: 1rem;
    padding: 1vmin;
    border: none;
    border-radius: 3px;
    background: $btnColor;
    color: $primeryColor;
    @media (min-width: 768px) {
      padding: 0.7rem;
      width: 20%;
      margin-bottom: 5rem;
    }
    @media (min-width: 1200px) {
      font-size: 1rem;
    }
  }
  p {
    font-size: 0.7rem;
    margin-left: 1vmin;
    margin-right: 1vmin;
    @media (min-width: 768px) {
      font-size: 1rem;
    }
    @media (min-width: 1200px) {
      font-size: 1.3rem;
    }
  }
  max-width: 100%;
  height: 98%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: $primeryColor;
}
// image gallery Home////
ul {
  @media (min-width: 768px) {
    display: inline-grid;
    width: 80%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  .Home__gallery {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 95%;

    .Home__gallery-photo {
      width: 100%;
    }

    .Home__gallery-name {
      font-family: 'Lato';
      font-size: 1rem;
      color: $iconcolor;
      padding-bottom: 10px;
    }
    .Home__gallery-price {
      font-family: 'Roberto';
      color: $textColor;
      font-size: 0.9rem;
      margin-bottom: 1.5rem;
    }
  }
  .Home__gallery-btn {
    padding: 7px 4px;
    background: $btnColor;
    color: $primeryColor;
    border: none;
    border-radius: 2px;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
      margin-bottom: 2rem;
    }
  }
}
///// Reassurance ///////
.Reassurance {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  @media (min-width: 768px) {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
  }
  background-color: $secondaryColor;
  img {
    width: 40%;
    height: auto;
    padding: 1rem;
    @media (min-width: 768px) {
      width: 40%;
    }
  }
  h4 {
    font-family: 'Lato';
    color: $iconcolor;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
    }
  }
}
///////// success /////////
.Success__link {
}
////////////////////// A propos//////////
.Page__section-nous {
  margin: 0 auto;
  background: url('./assets/logo/horloger-au-travail.avif');
  width: 100vw;
  height: 16rem;
  background-size: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2vmin;
  margin-right: 3vmin;
  border-radius: 3px;
  @media (min-width: 768px) {
    margin: 0 auto;
    height: 20rem;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  @media (min-width: 1200px) {
    margin: 0 auto;
    height: 30rem;
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
