////// Header///////
$primeryColor: #fffcf2;
$secondaryColor: #f9f3df;
$textColor: #05074e;
$iconcolor: #730814;
$formBorderColor: $iconcolor solid 1px;
$btnColor: #874912;
@font-face {
  font-family: 'Lato-regular';
  src: url('../fonts/Lato-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Lato-light';
  src: url('../fonts/Lato-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto-regular';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto-light';
  src: url('../fonts/Roboto-thin.ttf') format('ttf');
}
.Header {
  display: flex;
  flex-direction: column;
  background-color: $secondaryColor;
  border-bottom: 1px solid $iconcolor;
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .Header__basket--icons {
      a {
        text-decoration: none;
        font-family: 'Roboto';
        color: $iconcolor;
        padding: 10px;
      }
      .icon-text {
        color: $textColor;
        font-size: 0.5rem;
        @media (max-width: 768px) {
          font-size: 0.7rem;
          margin-left: 0.4rem;
        }

        .icon {
          font-size: 1.3rem;
          color: $iconcolor;
        }
      }
    }
    .connected {
      display: flex;
      flex-direction: row;

      .Header__icons {
        color: $iconcolor;
        display: flex;
        flex-direction: column;
      }
      .icon-text {
        font-size: 0.5;
      }
    }
    @media (max-width: 768px) {
      justify-content: space-between;
      padding-top: 5%;
      padding-left: 5%;
      padding-right: 5%;
      flex-wrap: wrap;

      .navbar-container {
        order: 0;
      }

      .Header__basket--icon {
        order: 1;
      }

      .Header__logo {
        order: 2;
      }
    }
  }
  .Header__logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url('/Users/jinny/Documents/astrolab-js/astrolab-front/src/assets/logo/astrolab-svg.svg');
    height: 15rem;
    text-align: center;
    position: relative;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: 1200px) {
      width: 33%;
    }
    p {
      color: $iconcolor;
      font-family: 'Roboto';
      font-size: 0.7rem;
      text-align: center;
      margin-top: 12rem;
    }
  }

  .navbar {
    input[type='checkbox'],
    .hamburger-lines {
      display: none;
    }
    @media (min-width: 1200px) {
      width: 40%;
    }
    .navbar-container {
      margin: 0 auto;
      display: block;
      z-index: 101; // navbar

      .menu-items {
        display: flex;
        justify-content: center !important;
        align-items: center;

        .nav-link {
          display: block;
          padding-block: 2rem;
          padding-inline: 2rem;
          text-decoration: none;
          color: $textColor;
          height: 100%;
          transition: 0.3s ease color;
          cursor: pointer;
        }
      }
    }

    @media (max-width: 768px) {
      .navbar-container {
        input[type='checkbox'] {
          height: 32px;
          width: 30px;
          top: 20px;
          right: 20px;
          opacity: 0;
          cursor: pointer;
        }

        .menu-items {
          display: none;
        }

        .hamburger-lines {
          height: 28px;
          width: 35px;
          top: 2rem;
          left: 2rem;
          z-index: 200;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 0;

          .line {
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: $iconcolor;
          }

          .line1 {
            transform-origin: 0% 0%;
            transition: transform 0.3s ease-in-out;
          }

          .line2 {
            transition: transform 0.2s ease-in-out;
          }

          .line3 {
            transform-origin: 0% 100%;
            transition: transform 0.3s ease-in-out;
          }
        }
      }

      input[type='checkbox']:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }

      input[type='checkbox']:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }

      input[type='checkbox']:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }
    }

    &.open {
      @media (max-width: 768px) {
        .navbar-container {
          width: 100vw;
          height: 100vh;
        }
        .Header__logo {
          z-index: -1;
        }
        .Header__basket--icons .connected .Header__icon {
          z-index: -1;
          display: none !important;
        }

        .menu-items {
          z-index: 100;
          background: $secondaryColor;
          height: 147vh;
          width: 80vw;
          margin-right: 10rem;
          transform: translate(3%);
          display: flex;
          flex-direction: column;
          transition: transform 0.5s ease-in-out;
          padding-right: 1rem;
          @media (min-width: 768px) {
            width: 60vw;
            transform: translate(2%);
          }
          .nav-link {
            text-underline-offset: 10px;
            display: block;
            font-size: 1rem;
            padding-inline: 1rem;
            padding-bottom: 4rem;
            text-decoration: underline;
            color: $iconcolor;
            transition: 0.3s ease color;
            cursor: pointer;
            @media (min-width: 768px) {
              font-size: 1.5rem;
              margin-left: 15rem;
            }
          }
        }
      }
    }
  }
}

.Banner {
  text-align: center;
  position: relative;
  height: 16rem;
  background-size: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../../public/images/Jacob-Co.-Astronomia-Flawless-1528x1080.jpg');
  @media (min-width: 768px) {
    height: 35rem;
  }
  @media (min-width: 1200px) {
    height: 60rem;
  }

  .Banner__img {
    opacity: 0.5;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
}
